altair==6.0.0
annotated-types==0.7.0
anyio==4.12.1
attrs==25.4.0
black==26.1.0
blinker==1.9.0
cachetools==6.2.6
certifi==2026.1.4
charset-normalizer==3.4.4
click==8.3.1
contourpy @ file:///opt/miniconda3/conda-bld/contourpy_1763643921048/work
cycler @ file:///Users/ec2-user/croot/cycler_1766067937020/work
distro==1.9.0
fonttools @ file:///opt/miniconda3/conda-bld/fonttools_1765445183405/work
gitdb==4.0.12
GitPython==3.1.46
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
Jinja2==3.1.6
jiter==0.13.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kiwisolver @ file:///opt/miniconda3/conda-bld/kiwisolver_1764159426452/work
MarkupSafe==3.0.3
matplotlib==3.10.8
mypy_extensions==1.1.0
narwhals==2.16.0
numpy @ file:///Users/ec2-user/croot/numpy_and_numpy_base_1770732576999/work/dist/numpy-2.4.2-cp311-cp311-macosx_12_0_arm64.whl#sha256=8700a6a298764a5388842512d0b122beb2514fbd71caaa3d3ac885edf64c0de2
openai==2.20.0
packaging @ file:///opt/miniconda3/conda-bld/packaging_1761049079066/work
pandas==2.3.3
pathspec==1.0.4
pillow @ file:///Users/ec2-user/croot/pillow_1769433342773/work
platformdirs==4.9.2
protobuf==6.33.5
pyarrow==23.0.0
pydantic==2.12.5
pydantic_core==2.41.5
pydeck==0.9.1
pyparsing @ file:///opt/miniconda3/conda-bld/pyparsing_1763973786267/work
pypdf==6.7.0
python-dateutil @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_66ud1l42_h/croot/python-dateutil_1716495741162/work
python-dotenv==1.2.1
pytokens==0.4.1
pytz==2025.2
referencing==0.37.0
requests==2.32.5
rpds-py==0.30.0
six @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_03myqm7p6o/croot/six_1744271511946/work
smmap==5.0.2
sniffio==1.3.1
streamlit==1.54.0
tenacity==9.1.4
toml==0.10.2
tornado @ file:///Users/ec2-user/croot/tornado_1765992648472/work
tqdm==4.67.3
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
